// mixin
@import "mixin/common.scss";
@import "mixin/layout.scss";


$COLOR01: #00a88e;
$IMAGE_ROOT: '/resources/img/';
$CONTAIN_SIZE: 720px;
$COLOR01: #00a88e;

body {
    margin: 0;
    padding: 0;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 14px;
    line-height: msize( 30px );
    color: #9a9a9a;
}

@media screen and (max-width: 350px) {
    body {
        font-size: 11px;
    }
}

#header {
	height: 50px;
	background: #FFF;
	z-index: 99;
	position: relative;
}

#contents {
	position: relative;

	.sub-title {
		padding: msize( 50px ) 0;
		color: #fff;
		font-size: msize( 46px );
		font-weight: normal;
		letter-spacing: 5px;
		text-align: center;
		background: url("/resources/img/common/background_pattern.gif");
	}

	.wrapper{
		padding:msize( 67px ) msize( 40px );

  }
}

@import "pages/business.scss";
